@font-face {
  font-family: 'Pretendard';
  src: url('../assets/fonts/Pretendard-Regular.woff') format('woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Pretendard', sans-serif;
  margin: 0 auto;
}

/* 애니메이션 효과 */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 0.5s;
}
